body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(./Lidingo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  color: #333;
  margin: 0;
  padding-top: 50px;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.search-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  transition: border-color 0.3s ease;
  text-align: center;
}

.search-input:hover {
  border-color: #3d444c;
}

.search-button {
  background-color: #3d444c;
  color: #fff;
  border: none;
  padding: 10px 40px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.search-button:hover {
  background-color: #585a5f;
  transform: scale(1.05);
}

.results-list {
  list-style: none;
  padding: 0;
  text-align: left;
}

.results-list li {
  margin: 10px 0;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
}

.not_found {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  margin-top: 10px;
  display: none;
}

@media (min-width: 768px) {
  .search-container {
    width: 50%;
    margin: 0 auto;
  }
}
